<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <!-- <link rel="stylesheet" href="../css/ele-index.css"> -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- import Vue before Element -->
  <script src="../js/vue.js"></script>
  <!-- import JavaScript -->
  <!-- <script src="../js/ele-index.js"></script> -->
  <!-- <script src="../js/search.js"></script> -->
  <!-- <script src="../js/funcs.js"></script> -->
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
  <!-- download detail -->
  <div id="download">
    <el-dialog title="下载详情" :visible.sync="download_dialog_visible">
      <el-progress :percentage="percentage" :color="progress_colors"></el-progress>
      <br />
      <el-button type="primary" @click="download_dialog_visible = false">隐藏</el-button>
    </el-dialog>
  </div>
  <div id="app">
    <el-container>
      <el-header>
        <el-menu class="el-menu-demo" mode="horizontal">
          <el-menu-item index="1" v-on:click="current = 1">主页</el-menu-item>
          <el-menu-item index="2" v-on:click="current = 2">搜索</el-menu-item>
          <el-menu-item index="3" v-on:click="current = 3;get_user_list()">我的歌单</el-menu-item>
          <el-menu-item index="4" v-on:click="current = 4">设置</el-menu-item>
          <el-menu-item index="5" v-on:click="current = 5">工具箱</el-menu-item>

          <el-avatar onclick="showW()" style="cursor: pointer;" id="avatar" :size="40" :src="avatar_img"></el-avatar>


          <el-dialog title="登陆" :visible.sync="dialogVisible" width="500px">
            <el-form ref="login" :model="login" :rules="login_rule" label-width="80px">
              <el-form-item label="手机号" prop="phone_number">
                <el-input v-model="login.phone_number"></el-input>
              </el-form-item>
              <el-form-item label="密码" prop="password">
                <el-input v-model="login.password"></el-input>
              </el-form-item>

              <el-form-item label="验证码" prop="captcha">
                <el-input style="width: 50%;" v-model="login.captcha"></el-input>
                <el-button type="primary" @click="onSendcaptcha">发送</el-button>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="onLogin">登陆</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
              </el-form-item>
            </el-form>
            <!-- <img :src="qrimg"> -->
          </el-dialog>


        </el-menu>
      </el-header>
      <el-main id="main-page">



        <div v-if="current == 1" style="height: 100%; overflow: hidden;">
          <el-container v-loading="loading" style="height: 100%;">
            <el-header height="45px">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选
              </el-checkbox>
              <el-button style="margin-left: 20px;" v-on:click="delete_all" type="danger" size="small">
                删除全部
              </el-button>
            </el-header>
            <el-main>
              <el-checkbox-group v-model="checkList" @change="handleCheckedChange">
                <el-card v-for="(i,index) in song_list" class="r-card" body-style="padding:0;" shadow="hover">
                  <div style="height:80px;display: flex;
                flex-direction: row;align-items: center;">
                    <el-col :span="18">
                      <div style="display: flex;
                      flex-direction: row;height: 80px;align-items: center;cursor: pointer;"
                        v-on:click="handleCheckedSelect(index)">
                        <img style="margin-right:20px;" width="80px" height="80px" title="cover" :src="i.img_url">
                        <el-col :span="22">
                          <el-row>
                            <div class="hide_text" style="color: #303133;letter-spacing: 1px; font-size: 30px;">
                              {{i.title}}
                            </div>
                          </el-row>
                          <el-row>
                            <el-col :span="12">
                              <div class="hide_text" style="color: #606266; font-size: 18px;font-weight: 400;">
                                {{i.artists}}
                              </div>
                            </el-col>
                            <el-col :span="12">
                              <div class="hide_text" style="color: #606266;font-size: 18px;font-weight: 400;">
                                {{i.album}}
                              </div>
                            </el-col>
                          </el-row>
                        </el-col>
                      </div>
                    </el-col>
                    <el-button v-on:click="delete_item(index)" type="danger">删除</el-button>
                    <el-button v-on:click="listen_temporary(i)" style="margin-right: 20px;">预览</el-button>
                    <el-checkbox :label="index">选择</el-checkbox>
                  </div>
                </el-card>
              </el-checkbox-group>
            </el-main>
          </el-container>
        </div>



        <div v-if="current == 2" style="height: 100%; overflow: hidden;">
          <el-container style="height: 100%;">
            <el-header height="80px">
              <div id="search" style="margin-bottom:20px;">
                <el-input v-model="search" placeholder="请输入内容"> </el-input>
                <el-button v-on:click="search_offset = 0;tosearch(0)" type="primary" style="margin-left: 20px;"
                  icon="el-icon-search">搜索</el-button>
              </div>

              <div style="height:20px;margin-bottom: 10px;padding-left: 10px;display: flex;">
                <el-col :span="8">
                  <div class="hide_text" style="color: #606266;">标题</div>
                </el-col>
                <el-col :span="6">
                  <div class="hide_text" style="color: #606266;">歌手</div>
                </el-col>
                <el-col :span="6">
                  <div class="hide_text" style="color: #606266;">专辑</div>
                </el-col>
                <div style="width: 230px;"></div>
              </div><br />
            </el-header>
            <el-main>
              <div v-loading="search_loading" v-if="searching == true">
                <el-card v-for="i in searchlist" class="r-card" body-style="padding:10px;display: flex;
                    flex-direction: row;align-items: center" shadow="hover">
                  <el-col :span="8">
                    <div class="hide_text" style="font-size: 20px;">{{i.title}}</div>
                  </el-col>
                  <el-col :span="6">
                    <div class="hide_text" style="font-size: 14px;">{{i.artists}}</div>
                  </el-col>
                  <el-col :span="6">
                    <div class="hide_text" style="font-size: 14px;">{{i.album}}</div>
                  </el-col>
                  <el-button v-on:click="listen_temporary(i)" style="margin-left: 20px;">预览</el-button>
                  <el-button v-on:click="add_item(i)" type="primary" style="margin-left: 20px;">添加</el-button>
                </el-card>
              </div>
            </el-main>

            <el-footer style="margin-top: 20px;" height="45px">
              <el-button v-on:click="next_page" type="primary">下一页</el-button>
              <el-input v-model="page_number" placeholder="请输入页码"
                style="width: 200px;margin-left:20px;margin-right: 20px;"></el-input>
              <el-button v-on:click="page_jump_to">跳转</el-button>
            </el-footer>
          </el-container>
        </div>



        <div v-if="current == 3" id="my_songlist">
          <el-card v-for="item in user_list" class="songlist_card" :body-style="{ padding: '0px' }">
            <img v-on:click="open_drawer(item)" style="width: 100%;cursor: pointer;" :src="item.img_url">
            <div style="padding: 5px;">
              <p style="margin:0;padding:0;">{{item.list_name}}</p>
            </div>
          </el-card>
          <el-drawer size="70%" :title="drawer.list_name" :visible.sync="drawer.visible" style="overflow:auto;">
            <el-container style="height: 100%;">
              <el-header height="40px">
                <div style="height:20px;margin-bottom: 30px;padding-left: 10px;display: flex;">
                  <el-col :span="8">
                    <div class="hide_text" style="color: #606266;">标题</div>
                  </el-col>
                  <el-col :span="6">
                    <div class="hide_text" style="color: #606266;">歌手</div>
                  </el-col>
                  <el-col :span="6">
                    <div class="hide_text" style="color: #606266;">专辑</div>
                  </el-col>
                  <div style="width: 230px;">
                    <el-button type="primary" v-on:click="add_all" size="mini">添加全部</el-button>
                  </div>
                </div><br />
              </el-header>
              <el-main>
                <div v-loading="drawer_loading" element-loading-text="正在加载中..." style="padding:10px;"
                  v-infinite-scroll="drawer_load" infinite-scroll-disabled="load_disabled">
                  <el-card v-for="i in drawer.list" class="r-card" body-style="padding:10px;display: flex;
                  flex-direction: row;align-items: center" shadow="hover">
                    <el-col :span="8">
                      <div class="hide_text" style="font-size: 20px;">{{i.title}}</div>
                    </el-col>
                    <el-col :span="6">
                      <div class="hide_text" style="font-size: 14px;">{{i.artists}}</div>
                    </el-col>
                    <el-col :span="6">
                      <div class="hide_text" style="font-size: 14px;">{{i.album}}</div>
                    </el-col>
                    <el-button v-on:click="listen_temporary(i)" style="margin-left: 20px;">预览</el-button>
                    <el-button v-on:click="add_item(i)" type="primary" style="margin-left: 20px;">添加</el-button>
                  </el-card>
                </div>
                <p v-if="NoMore" style="text-align: center;color:#606266;">没有更多了</p>
              </el-main>
              <el-footer height="10px">
              </el-footer>
          </el-drawer>
    </el-container>
  </div>

  <div v-if="current == 4" id="settings">
    <div id="settings">
      <h1 class="title">下载</h1>
      <div style="padding-left: 2em;padding-right: 2em;">
        <el-row class="item">
          <el-col :span="10">
            <el-row style="font-size: 25px;font-weight: 300;">分文件夹存放</el-row>
            <el-row style="font-size: 12px;">开启后可将歌词，封面，歌曲存放至不同的子文件夹</el-row>
          </el-col>
          <el-col style="padding-top: 10px;" :span="14">
            <el-switch v-model="settings.classify" active-color="#13ce66"></el-switch>
          </el-col>
        </el-row>
        <el-row class="item">
          <el-col :span="6">
            <el-row style="font-size: 25px;font-weight: 300;">保存目录</el-row>
            <el-row style="font-size: 12px;">选择下载文件的保存目录</el-row>
          </el-col>
          <el-col style="margin-right: 10px;" :span="14">
            <el-input v-model="settings.download_path" placeholder="请输入内容"></el-input>
          </el-col>
          <el-col :span="2" style="overflow:visible;">
            <el-button type="primary" v-on:click="select_folder">选择文件夹</el-button>
          </el-col>
        </el-row>
      </div>
      <h1 class="title">关于本软件</h1>
      <div style="padding-left: 2em;padding-right: 2em;">
        <el-row style="font-size: 25px;font-weight: 300;margin-bottom: 10px;">README.md</el-row>
        <div v-html="README"
          style="padding-left: 2em;padding-right: 2em;border: 1px solid rgb(177, 177, 177);border-radius: 10px;">
        </div>
      </div>
    </div>
  </div>

  <div v-if="current == 5">
    正在开发中
    <el-card class="r-card" body-style="padding:10px;display: flex;
                    flex-direction: row;align-items: center" shadow="hover">
      <el-col :span="19">
        <el-row>
          <div class="hide_text" style="font-size: 20px;">自动为文件夹中歌曲匹配歌词</div>
        </el-row>
        <el-row>
          <div class="hide_text" style="font-size: 10px;">有几率匹配不准确</div>
        </el-row>
      </el-col>
      <el-col :span="4">
        <el-button v-on:click="find_lyric" type = "primary">开始</el-button>
      </el-col>
    </el-card>
    <el-card class="r-card" body-style="padding:10px;display: flex;
                    flex-direction: row;align-items: center" shadow="hover">
      <el-col :span="19">
        <el-row>
          <div class="hide_text" style="font-size: 20px;">自动为文件夹中歌曲添加封面</div>
        </el-row>
        <el-row>
          <div class="hide_text" style="font-size: 10px;">如果存在封面会自动跳过</div>
        </el-row>
      </el-col>
      <el-col :span="4">
        <el-button v-on:click="find_cover" type = "primary">开始</el-button>
      </el-col>
    </el-card>
  </div>


  </el-main>
  <el-footer style="margin-top:5px;">
    <el-button type="primary" v-on:click="songlist_save" style="margin-right: 20px;">保存</el-button>
    <el-checkbox v-model="d_song">歌曲</el-checkbox>
    <el-select multiple v-model="bitrate" placeholder="请选择音质" style="margin-right: 20px;">
      <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
      </el-option>
    </el-select>
    <el-checkbox v-model="d_lyric">歌词</el-checkbox>
    <el-checkbox v-model="d_cover">封面</el-checkbox>
    </el-checkbox-group>
    <el-button v-on:click="download" type="primary" style="margin-left: 20px;">下载</el-button>
  </el-footer>
  </el-container>
  </div>
  <!-- Music Player -->
  <div v-if="visible" id="player" @mouseenter="hovered = true" @mouseleave="hovered = false">
    <audio :src="data.music_url" @canplay="showLong" ref="audio" autoplay="" @timeupdate="getCurr" @pause="is_stop=true"
      @play="is_stop=false"></audio>
    <div id="player_icon" v-if="hovered == false" :class="player_icon_display"></div>
    <div id="player-ui" v-if="hovered">
      <img id="album-cover" :src="data.album_img"><br>
      <div style="display: flex;flex-direction:row;">
        <i v-on:click="plays" style="color: rgb(94, 96, 100);font-size: 28px;
        cursor: pointer;margin-left: 10px;margin-right: 5px;
        margin-top: 5px;" :class="player_icon_display"></i>
        <div style="margin-top: 9px;margin-right: 15px;">{{toTime(current)}}</div>
        <!-- <el-button style="margin-right: 20px;" circle icon="el-icon-video-play"></el-button> -->
        <div style="width: calc(80% - 20px);">
          <el-slider v-model="current" :max="duration" :show-tooltip="false" @change="changeLong()"></el-slider>
        </div>
      </div>
      <p id="title">{{data.title}}</p>
      <p id="artist">{{data.artist}}</p>
      <p id="album">{{data.album}}</p>
    </div>
  </div>
  <script src="../js/page.js"></script>
</body>

</html>