<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app">
        <div id="settings">
            <h1>下载</h1>
            <div style="padding-left: 2em;">
                <el-row class="item">
                    <el-col :span="10">
                        <el-row style="font-size: 25px;font-weight: 300;">保存至原歌曲目录（开发中）</el-row>
                        <el-row style="font-size: 12px;">开启后可将本地文件添加至原目录</el-row>
                    </el-col>
                    <el-col style="padding-top: 10px;" :span="14">
                        <el-switch v-model="settings.save_to_origin" active-color="#13ce66"></el-switch>
                    </el-col>
                </el-row>
                <el-row class="item">
                    <el-col :span="6">
                        <el-row style="font-size: 25px;font-weight: 300;">保存目录</el-row>
                        <el-row style="font-size: 12px;">选择下载文件的保存目录</el-row>
                    </el-col>
                    <el-col style="margin-right: 10px;" :span="15">
                        <el-input v-model="settings.download_path" placeholder="请输入内容"></el-input>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="primary" v-on:click="select_folder">选择文件夹</el-button>
                    </el-col>
                </el-row>
            </div>
            <h1>关于本软件</h1>
            <div style="padding-left: 2em;"></div>
        </div>
    </div>
    </div>
</body>
<script>
    var main = new Vue({
        el: "#app",
        data: {
            settings: {
                save_to_origin: false,
                download_path: "",
            }
        },
        methods: {

        }
    });
</script>
<style>
    .hide_text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #settings .item {
        margin-bottom: 20px;
    }

    #settings .item:last-child {
        margin-bottom: 0;
    }

    #settings h1 {
        font-weight: 300;
    }
</style>

</html>